.navbar-content{
  background: #FFFFFF;
  box-shadow: 0px 4px 22px rgba(54, 60, 65, 0.15);
  padding-top:1.5rem;
  padding-bottom:2rem;
  
}
.nav-bar-left{
  margin-left:2rem;
}
.navbar-img{
  padding-bottom: 3rem;
}
.dashboard{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 30px;
/* line-height: 32px; */
color: #363C41;
margin-top: 1rem;
margin-left: 12rem;
text-decoration: none;
}
.dashboarde{
  color: #363C41;
  text-decoration: none;

}
.dashboarde:hover{
  text-decoration:none;
}
.refer{
  font-family: 'Hind Siliguri';
font-style: normal;
margin-right: 3rem;
font-weight: 700;
font-size: 16px;
color: #3484F0;
margin-top: 1rem;

}

.refere{
  color:#3484F0;
}

.refere:hover{
  text-decoration:none;
}

.profile{
  margin-top: 1rem;
}

.title-header{
background: linear-gradient(92.25deg, #363C41 0%, #597591 100%);
box-shadow: 0px 4px 22px rgba(54, 60, 65, 0.06);
border-radius: 8px;
height: 111px;
display: flex;
justify-content: flex-start;
align-items: center;
margin-top: 3rem;
}

.title-text{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 40px;
color: #FFFFFF;
margin-left: 3rem;
}
.middle-content{
  margin-top: 5rem;
}

.content-1{
  display: flex;
  align-items:center;
  margin-bottom: 3rem;
  padding:1rem;
}

.content-image{
  margin-right: 3rem;
}

.content-middle-text{
  margin-right:3rem;
}

.content-middle-text-1{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #86A150;
margin-top:1rem;
}

.content-middle-text-2{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #86A150;
margin-top:0.5rem;
}

.content-middle-text-3{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #597591;
margin-top:1rem;
}

.content-middle-text-3-w{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #fff;
margin-top:1rem;

}

.content-middle-text-4-w{
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  margin-top:1rem;

}

.content-middle-text-4{ 
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 24px;
color: #597591;
margin-top:0.5rem;
}

.content-middle-text-5{ 
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #597591;
}

.background{
  background: #86A150;
  border-radius:8px;
  /* color: #fff; */
}

.content-middle-content-right{
 text-align: center;
  margin-top: 10rem;
}

.span-content{
  padding-top:4rem;
  display: flex;
  justify-content:flex-start;
  margin-left: 15rem;
  
}
.text-heading{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 48px;
color: #363C41;
}

.middle-img{
  /* margin-right: 35rem; */
}

.span-text{
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}

.middle-text-1{
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #363C41;
}

.middle-text-2{
  font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #597591;
margin-left: 3rem; 
}

.btn-content{
width: 154px;
height: 48px;
background: #3484F0;
border-radius: 6px;
border-style: none;
margin-right:30rem;
margin-top: 5rem;
}

.button-text{
font-family: 'Hind Siliguri';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}

.span-img{
  margin-left: 1rem;
}